* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* body {
    background: #0f172a;
    color: white;
} */

nav {
    display: flex;
    background: white;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: black;
}

.button {
    display: flex;
    gap: 20px;
    margin-top: 32px;
}

.btn {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 20px;
    background: #22c55e;
    border: 1px solid #22c55e;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.btn img {
    width: 18px;
    height: 18px;
}

.btn-hover {
    background-color: transparent;
    border: 1px solid #fff;
    transition: 0.3s;
}

.btn-hover:hover {
    background-color: #22c55e;
    border: 1px solid #22c55e;
}

.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 675px;
    background: url(./assets/hero-bg.png);
}

.early {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #53d98b;
    font-size: 16px;
    color: #fff;
    padding: 8px 12px;
    border-radius: 999px;
}

.hero-section h1 {
    font-size: 72px;
    line-height: 84px;
    font-weight: bold;
    color: #fff;
    margin-top: 16px;
}

.hero-section h1 span {
    color: #30B868;
}

.hero-section .hero-detail {
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    margin-top: 16px;
}

.card-section {
    padding: 40px 0px;
}

.section-heading {
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    text-align: center;
    margin-bottom: 16px;
}

.section-p {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    text-align: center;
}

.card-box {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 24px;
}

.card {
    width: 322px;
    height: 300px;
    box-shadow: 0 0 2px #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 0 24px;
    text-align: center;
    border-radius: 8px;
}

.card-icon {
    width: 60px;
    height: 60px;
    background-color: #F95555;
    border-radius: 50%;
    display: grid;
    place-items: center;
}

.card-heading {
    font-size: 24px;
    font-weight: 600;
    color: #001931;
}